.searchBlock input{
    width: 641;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 34px;
    margin: 10px -30px 10px;
    border-radius: 2px;
}


    
    



form{
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 252%;
    left: -120px;
    
    
}

.searchIcon{

    
        position: absolute;
        
          margin-left:610px ;       
         top: 9px;
        width: 52px;
        align-items: center;
        justify-content: center;
        
    
}